/* .recruit {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;      
    padding: 0 10%;
} */

.recruit {
    padding-inline: 5%;
    max-width: 1160px;
    margin: 0 auto;
    display: flex;
    /* flex-wrap: wrap; */
    /* flex-direction: column; */
    gap: 2rem;
}

.recruit_01,
.recruit_02 {
    flex: 1 1 300px; /* 幅XXX px以下になったら折り返す */
}



.recruit-header h2 {
    display: block;
    font-size: 3rem; 
    color: #000; 
    white-space: nowrap;
    margin: 0;
}

.recruit-header .en {
    display: block;
    font-size: 1rem;
    letter-spacing: 0.1em;
    white-space: nowrap;
    color: rgb(91, 110, 171);  
}

.recruit-header {
    line-height: 1.2;
}



@media (max-width: 768px) {
    /* .content-wrapper {
        flex-direction: column;
        align-items: center;
    } */

    .recruit_01 {
        align-items: center;
    }

    .recuit-header {
        text-align: center;
    }
}


.recruit-body {
    padding: 0; 
    flex: 1 1 0;
    min-width: 0; 
}


.recruit_02 img.recruit-image {
    width: 100%;
    height: auto;
    border-radius: 15px; /* 角を丸くする */
    object-fit: cover;
}

.recruit-button {
    align-items: center;
}

.recruit-detail-button {
    display: inline-block;
    padding: 0.8rem 3rem;
    background-color: rgb(91, 110, 171);
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 9999px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}
