.about {
    padding-block: 3rem;
    padding-left: 5%;
    padding-right: 5%;
    /* max-width: 1160px; */
    max-width: 1360px;
    position: relative;
    margin: 0 auto;

    /* border: blue 2px solid; */
    /* gap: 2rem; */
}

@media (max-width: 1160px) {
    .about { padding-right: 0px; }
}
@media (max-width: 768px) {
    .about { padding-right: 5%; }
}




.about-header h2 {
    display: block;
    font-size: 3rem; 
    color: #000; 
    white-space: nowrap;
    margin: 0;
}

.about-header .en {
    display: block;
    font-size: 1rem;
    letter-spacing: 0.1em;
    white-space: nowrap;
    color: rgb(91, 110, 171);  
}

.about-header {
    line-height: 1.2;
    margin-bottom: 2rem;
}


.content-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    /* align-items: center; */
    gap: 3rem 3rem;
    /* border: green 2px solid; */

}




.about-text {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    align-self: center;
    flex: 1;
    position: relative;
    z-index: 2;
    gap: 1rem;
    flex: 0 0 50%;
    /* border: red 2px solid; */
}



.about-images {
    flex: 1;
    display: flex;
    gap: 2%;
    justify-content: space-between;
    align-items: stretch;
    position: relative;
    z-index: 2;

    flex: 1;
    /* border: red 2px solid; */

}

.about-image {
    width: 32%;
    /* height: 300px; */
    aspect-ratio: 0.6;
    object-fit: cover;
}

.about-image:nth-child(1) {
    align-self: flex-start;
}
.about-image:nth-child(2) {
    align-self: center;
}
.about-image:nth-child(3) {
    align-self: flex-end;
}




.about-detail-button {
    display: inline-block;
    width: clamp(200px, 50%, 300px);
    padding-block: 0.6rem;
    background-color: rgb(91, 110, 171);
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 9999px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    align-self: center;
}

.about-detail-button:hover {
    background-color: rgba(91, 110, 171, 0.7); /* 薄くする */
}










@media (max-width: 768px) {
    .content-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .about-header {
        text-align: center;
    }

    /* .about-text,
    .about-images {
        flex: none;
        width: 100%;
    } */

    .about-image:nth-child(1) {
        margin-top: 0px;
        margin-bottom: 60px;
    }
    .about-image:nth-child(2) {
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .about-image:nth-child(3) {
        margin-top: 60px;
        margin-bottom: 0px;
    } 
}






.about-bg {
    position: relative;
    background-color: #f0f0f0;
    overflow: hidden;
}


.about-background {
    font-weight: bold;
    color: white;
    opacity: 0.6;
    white-space: nowrap;
    line-height: 1;
    pointer-events: none;
}



.about-background_lt {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 10rem;
    transform: translateX(-0.4rem) translateY(-11.5rem);
}

.about-background_lb {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 10rem;
    transform: translateX(-0.4rem) translateY(11.5rem);
    z-index: 1;

}

.about-background_rt {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 10rem;
    transform: translateX(0.4rem) translateY(-11.5rem);
}

.about-background_rb {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 10rem;
    transform: translateX(0.4rem) translateY(11.5rem);
}
